In [1]:
import numpy as np
import pandas as pd

s = pd.Series([1,2,6,np.nan,44,1])

s

0     1.0
1     2.0
2     6.0
3     NaN
4    44.0
5     1.0
dtype: float64

In [2]:
dates = pd.date_range('20220910',periods=6)

# Dataframe 定义

In [19]:
dates

DatetimeIndex(['2022-09-10', '2022-09-11', '2022-09-12', '2022-09-13',
               '2022-09-14', '2022-09-15'],
              dtype='datetime64[ns]', freq='D')

## 从numpy导入的形式定义Dataframe

In [20]:

df = pd.DataFrame(np.random.randn(6,4),index=dates ,columns=['a','b','c','d'])

In [5]:
df

                   a         b         c         d
2022-09-10  0.197361 -0.159736 -0.816168  1.409992
2022-09-11  0.628163 -2.659874  1.294731  2.009768
2022-09-12 -1.498503 -1.941178  0.208707  0.869419
2022-09-13  0.037994 -0.185169  0.163164 -0.264419
2022-09-14 -0.202601  0.941756  1.339638 -1.606257
2022-09-15  0.288791  0.306231 -0.244936 -1.164039

In [7]:
df1 = pd.DataFrame(np.arange(12).reshape([3,4]))
df1

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

## 字典的形式定义Dataframe
代表一列数据

In [8]:
df2 = pd.DataFrame(

    {
        'A':1.,
        'B':pd.Timestamp('20220910'),
        'C':pd.Series(1,index=list(range(4)),dtype='float32'),
        'D':pd.array([3]*4,dtype='int32'),
        'E':pd.Categorical(['test','train','test','train']),
        'F':'foo'
    }
)
df2

     A          B    C  D      E    F
0  1.0 2022-09-10  1.0  3   test  foo
1  1.0 2022-09-10  1.0  3  train  foo
2  1.0 2022-09-10  1.0  3   test  foo
3  1.0 2022-09-10  1.0  3  train  foo

# Dateframe 的属性和方法

In [9]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [10]:
df2.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [11]:
df2.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [12]:
df2.values

array([[1.0, Timestamp('2022-09-10 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2022-09-10 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2022-09-10 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2022-09-10 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [13]:
df2.describe()

         A    C    D
count  4.0  4.0  4.0
mean   1.0  1.0  3.0
std    0.0  0.0  0.0
min    1.0  1.0  3.0
25%    1.0  1.0  3.0
50%    1.0  1.0  3.0
75%    1.0  1.0  3.0
max    1.0  1.0  3.0

In [14]:
df2.T

,0,1,2,3
A,1.0,1.0,1.0,1.0
B,2022-09-10 00:00:00,2022-09-10 00:00:00,2022-09-10 00:00:00,2022-09-10 00:00:00
C,1.0,1.0,1.0,1.0
D,3,3,3,3
E,test,train,test,train
F,foo,foo,foo,foo

In [16]:
df2.sort_index(axis = 1,ascending=False)C

     F      E  D    C          B    A
0  foo   test  3  1.0 2022-09-10  1.0
1  foo  train  3  1.0 2022-09-10  1.0
2  foo   test  3  1.0 2022-09-10  1.0
3  foo  train  3  1.0 2022-09-10  1.0

In [17]:
df2.sort_index(axis = 0,ascending=False)

     A          B    C  D      E    F
3  1.0 2022-09-10  1.0  3  train  foo
2  1.0 2022-09-10  1.0  3   test  foo
1  1.0 2022-09-10  1.0  3  train  foo
0  1.0 2022-09-10  1.0  3   test  foo

In [18]:
 df2.sort_values(by='E')

     A          B    C  D      E    F
0  1.0 2022-09-10  1.0  3   test  foo
2  1.0 2022-09-10  1.0  3   test  foo
1  1.0 2022-09-10  1.0  3  train  foo
3  1.0 2022-09-10  1.0  3  train  foo