In [3]:
from datetime import date
import numpy as np
import pandas as pd

dates = pd.date_range('20220910',periods=6)
df = pd.DataFrame(np.arange(24).reshape((6,4)),index=dates ,columns=['A','B','C','D'])
print(dates)
print(df)

DatetimeIndex(['2022-09-10', '2022-09-11', '2022-09-12', '2022-09-13',
               '2022-09-14', '2022-09-15'],
              dtype='datetime64[ns]', freq='D')
             A   B   C   D
2022-09-10   0   1   2   3
2022-09-11   4   5   6   7
2022-09-12   8   9  10  11
2022-09-13  12  13  14  15
2022-09-14  16  17  18  19
2022-09-15  20  21  22  23

In [4]:
df['A']

2022-09-10     0
2022-09-11     4
2022-09-12     8
2022-09-13    12
2022-09-14    16
2022-09-15    20
Freq: D, Name: A, dtype: int64

In [5]:
df.A

2022-09-10     0
2022-09-11     4
2022-09-12     8
2022-09-13    12
2022-09-14    16
2022-09-15    20
Freq: D, Name: A, dtype: int64

In [7]:
df[0:3]

            A  B   C   D
2022-09-10  0  1   2   3
2022-09-11  4  5   6   7
2022-09-12  8  9  10  11

In [14]:
# select by label :loc
print(df)

df.loc['20220910']

             A   B   C   D
2022-09-10   0   1   2   3
2022-09-11   4   5   6   7
2022-09-12   8   9  10  11
2022-09-13  12  13  14  15
2022-09-14  16  17  18  19
2022-09-15  20  21  22  23

A    0
B    1
C    2
D    3
Name: 2022-09-10 00:00:00, dtype: int64

In [15]:
df.loc['20220910',['A','B']]

A    0
B    1
Name: 2022-09-10 00:00:00, dtype: int64

In [25]:
# select by position : iloc
print(df)

df.iloc[3 , :1:-1]

             A   B   C   D
2022-09-10   0   1   2   3
2022-09-11   4   5   6   7
2022-09-12   8   9  10  11
2022-09-13  12  13  14  15
2022-09-14  16  17  18  19
2022-09-15  20  21  22  23

D    15
C    14
Name: 2022-09-13 00:00:00, dtype: int64

In [28]:
df.iloc[[1,3],[1,3]]

             B   D
2022-09-11   5   7
2022-09-13  13  15