In [1]:
from datetime import date
import numpy as np
import pandas as pd

dates = pd.date_range('20220910',periods=6)
df = pd.DataFrame(np.arange(24).reshape((6,4)),index=dates ,columns=['A','B','C','D'])

In [3]:
print(df)
df.iloc[2,2] = 1111
print(df)

             A   B     C   D
2022-09-10   0   1     2   3
2022-09-11   4   5     6   7
2022-09-12   8   9  1111  11
2022-09-13  12  13    14  15
2022-09-14  16  17    18  19
2022-09-15  20  21    22  23
             A   B     C   D
2022-09-10   0   1     2   3
2022-09-11   4   5     6   7
2022-09-12   8   9  1111  11
2022-09-13  12  13    14  15
2022-09-14  16  17    18  19
2022-09-15  20  21    22  23

In [5]:
df.B[df.A>0]

2022-09-11     5
2022-09-12     9
2022-09-13    13
2022-09-14    17
2022-09-15    21
Freq: D, Name: B, dtype: int64

In [6]:
df.A > 0

2022-09-10    False
2022-09-11     True
2022-09-12     True
2022-09-13     True
2022-09-14     True
2022-09-15     True
Freq: D, Name: A, dtype: bool

In [7]:
df.iloc[1,1] = -2

In [8]:
df

             A   B     C   D
2022-09-10   0   1     2   3
2022-09-11   4  -2     6   7
2022-09-12   8   9  1111  11
2022-09-13  12  13    14  15
2022-09-14  16  17    18  19
2022-09-15  20  21    22  23

In [9]:
df.A[df.B>0]

2022-09-10     0
2022-09-12     8
2022-09-13    12
2022-09-14    16
2022-09-15    20
Name: A, dtype: int64

## 新增加一列

In [10]:
df['F'] = np.nan
df

             A   B     C   D   F
2022-09-10   0   1     2   3 NaN
2022-09-11   4  -2     6   7 NaN
2022-09-12   8   9  1111  11 NaN
2022-09-13  12  13    14  15 NaN
2022-09-14  16  17    18  19 NaN
2022-09-15  20  21    22  23 NaN

In [12]:
df['E'] = pd.Series([1,2,3,4,5,6],index=pd.date_range('20220910',periods=6))
df

             A   B     C   D   F  E
2022-09-10   0   1     2   3 NaN  1
2022-09-11   4  -2     6   7 NaN  2
2022-09-12   8   9  1111  11 NaN  3
2022-09-13  12  13    14  15 NaN  4
2022-09-14  16  17    18  19 NaN  5
2022-09-15  20  21    22  23 NaN  6