In [1]:
import numpy as np
import pandas as pd

dates = pd.date_range('20220910',periods=6)
df = pd.DataFrame(np.arange(24).reshape((6,4)),index=dates ,columns=['A','B','C','D'])
df

             A   B   C   D
2022-09-10   0   1   2   3
2022-09-11   4   5   6   7
2022-09-12   8   9  10  11
2022-09-13  12  13  14  15
2022-09-14  16  17  18  19
2022-09-15  20  21  22  23

In [2]:
df.iloc[0,1] = np.nan
df.iloc[1,2] = np.nan
df

             A     B     C   D
2022-09-10   0   NaN   2.0   3
2022-09-11   4   5.0   NaN   7
2022-09-12   8   9.0  10.0  11
2022-09-13  12  13.0  14.0  15
2022-09-14  16  17.0  18.0  19
2022-09-15  20  21.0  22.0  23

## df.dropna

In [3]:
print(df.dropna(axis=0,how='any'))

             A     B     C   D
2022-09-12   8   9.0  10.0  11
2022-09-13  12  13.0  14.0  15
2022-09-14  16  17.0  18.0  19
2022-09-15  20  21.0  22.0  23

In [4]:
print(df.dropna(axis=1,how='any'))  #hhow all any

             A   D
2022-09-10   0   3
2022-09-11   4   7
2022-09-12   8  11
2022-09-13  12  15
2022-09-14  16  19
2022-09-15  20  23

In [5]:
print(df.dropna(axis=0,how='all'))

             A     B     C   D
2022-09-10   0   NaN   2.0   3
2022-09-11   4   5.0   NaN   7
2022-09-12   8   9.0  10.0  11
2022-09-13  12  13.0  14.0  15
2022-09-14  16  17.0  18.0  19
2022-09-15  20  21.0  22.0  23

## df.fillna

In [6]:
print(df.fillna(value=0))

df

             A     B     C   D
2022-09-10   0   0.0   2.0   3
2022-09-11   4   5.0   0.0   7
2022-09-12   8   9.0  10.0  11
2022-09-13  12  13.0  14.0  15
2022-09-14  16  17.0  18.0  19
2022-09-15  20  21.0  22.0  23

             A     B     C   D
2022-09-10   0   NaN   2.0   3
2022-09-11   4   5.0   NaN   7
2022-09-12   8   9.0  10.0  11
2022-09-13  12  13.0  14.0  15
2022-09-14  16  17.0  18.0  19
2022-09-15  20  21.0  22.0  23

## df.isnull

In [7]:
print(df.isnull())

                A      B      C      D
2022-09-10  False   True  False  False
2022-09-11  False  False   True  False
2022-09-12  False  False  False  False
2022-09-13  False  False  False  False
2022-09-14  False  False  False  False
2022-09-15  False  False  False  False

In [9]:
print(np.any(df.isnull())==True)

True